*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img{
    margin: 10px;
}

#corpo{
    margin: 10px;
}

ul li a{
    padding: 10px 20px;
    display: block;
}

.nav-item a{
    color: #007944; 
}


/*nav bar-serviços dropdown*/

.nav-links ul{
    position: absolute;
}

ul li ul li a:hover{
    background-color: #01492a;
}

ul li ul li{
    float: none;
}
ul li ul{
    display: none;
}
ul li:hover ul{
    display: block;
    background-color: #71a954;
    z-index: 100;
}

/*fim*/

ul li.active a{
    background-color: #01492a;
}

ul li a.active{
    background-color: #01492a;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#007944;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:#71a95a;

}

.logo h4{
    color: rgb(223, 223, 223);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    margin-bottom: 10px;
}

.logo img{
    max-width:150px;
    max-height: 100px;
    margin-top: 10px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(223, 223, 223);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 11px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 20px;
    height: 3px;
    background-color: rgb(223, 223, 223);
    margin: 5px;
}

.dropbox li{
    background-color: white;
}

.HomeImage img{
    position: relative;
    left: 19%;
    top: 1%;
    max-width:800px;
    max-height: 800px;
    }

.HomeSalada img{
    position: absolute;
    left: 70%;
    top: 5%;
    max-width:200;
    max-height: 300px;
    }

.HomeSalada2 img{
    position: absolute;
    left: 2%;
    top: 35%;
    max-width:220;
    max-height: 220px;
    transform: rotate(15deg);
}

.HomePoint img{
    position: absolute;
    left: 6%;
    top: 15%;
    max-width:190;
    max-height: 190px;
}

.dropbox a{
    color: black;
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 80vh;
        top: 12vh;
        background-color:#007944;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 100;
    }
    .nav-links li{
        opacity: 1;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}



/*cards*/

#home_quicklinks {
    padding: 20px 0;
    text-align: center;
}
a.quicklink.link1 {
    background: #f35588;
}
a.quicklink {
    display: inline-block;
    width: 200px;
    height: 100px;
    position: relative;
    margin: 60px 10px;
}
a.quicklink .ql_caption {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
}
.outer {
    display: table;
    position: relative;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 100%;
    border-spacing: 0px;
    padding: 0px;
}
.inner {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 100%;
    border-spacing: 0px;
    padding: 0px;
}
a.quicklink .ql_caption h4 {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    line-height: 1.46em;
    color: #fff;
}
a.quicklink.link1 .ql_top {
    border-bottom-color: #f35588;
}
a.quicklink.link1 .ql_bottom {
    border-top-color:#f35588;
}


.ql_top {
    bottom: 100px;
    border-bottom: 60px solid #ccc;
}
.ql_bottom {
    top: 100px;
    border-top: 60px solid #ccc;
}
.ql_top, .ql_bottom {
    position: absolute;
    left: 0px;
    width: 0px;
    border-left: 100px solid transparent;
    border-right:100px solid transparent;
}

a.quicklink.link2 {
    background:#f35588;
}
a.quicklink.link2 .ql_top {
    border-bottom-color: #f35588;
}
a.quicklink.link2 .ql_bottom {
    border-top-color: #f35588;
}


a.quicklink.link3 .ql_top {
    border-bottom-color: #f35588;
}
a.quicklink.link3 .ql_bottom {
    border-top-color: #f35588;
}
a.quicklink.link3 {
    background: #f35588;
}
a.quicklink {
    font-size: 36px;
    font-weight: 500;
    text-decoration:none;
}

/*modal*/

.modal-body{
    margin: 5px;
}

.btn{
    background-color: #71a954;
}

.btn a{
    color: white;
}