*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img{
    margin: 10px;
}

/*ajustes pag receitas*/

#corpo{
    margin: 10px;
}

.tab-content{
    margin: 10px;
}

/*fim*/

ul li a{
    padding: 10px 20px;
    display: block;
}

.nav-item a{
    color: #007944; 
}


/*nav bar-serviços dropbox*/

.nav-links ul{
    position: absolute;
}

ul li ul li a:hover{
    background-color: #01492a;
}

ul li ul li{
    float: none;
}
ul li ul{
    display: none;
}


ul li:hover ul{ /*background dropbox*/
    display: block;
    background-color: white;
    z-index: 100;
}

ul li:hover ul li a{ /*letra dropbox*/
    color: black;
}


/*fim*/

ul li.active a{
    background-color: #01492a;
}

ul li a.active{
    background-color: #01492a;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#007944;
    font-family: 'Poppins', sans-serif;
}



.logo h4{
    color: rgb(223, 223, 223);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 18px;
    margin-bottom: 10px;
}

.logo img{
    max-width:150px;
    max-height: 100px;
    margin-top: 10px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(223, 223, 223);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 11px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 20px;
    height: 3px;
    background-color: rgb(223, 223, 223);
    margin: 5px;
}


/*adições leo*/

.HomeImage img{
    position: relative;
    left: 23%;
    top: 1%;
    max-width:800px;
    max-height: 800px;
}

.HomeSalada img{
    position: absolute;
    left: 75%;
    top: 10%;
    max-height: 300px;
}

.HomeSalada2 img{
    position: absolute;
    left: 6%;
    top: 40%;
    width:200px;
    transform: rotate(15deg);
}

.HomePoint img{
    position: absolute;
    left: 10%;
    top: 15%;
    max-width:190;
    max-height: 190px;
}

body{
    background-color:#71a95a;

}

/*adições leo*/

/*Responsividade imagens*/

@media screen and (max-width:1460px)
{
    .HomeImage img{
        left: 20%;
    }
}

@media screen and (max-width:1360px)
{
    .HomeImage img{
        left: 18%;
    }
}

@media screen and (max-width:1280px)
{
    .HomeImage img{
        left: 13%;
    }

    .HomePoint{
        display: none;
    }
}

@media screen and (max-width:1125px)
{
    .HomeSalada img{
        max-width: 250px;
        top: 11%;
    }

    .HomeImage img{
        max-width: 700px;
    }

    .HomeSalada2 img{
        max-width: 180px;
        top: 35%;
    }
}

@media screen and (max-width:1020px)
{
    .HomeImage img{
        max-width: 600px;
        left: 17%;
    }

    .HomeSalada2 img{
        max-width: 160px;
        left: 5%;
    }
}

@media screen and (max-width:1000px)
{
    .HomeSalada img{
        display: none;
    }

    .HomeSalada2 img{
        display: none;
    }

    .HomeImage img{
        max-width: 700px;
        left: 15%;
    }

}

@media screen and (max-width:950px)
{
    .HomeImage img{
        left: 13%;
    }
}

@media screen and (max-width:900px)
{
    .HomeImage img{
        left: 10%;
    }
}

@media screen and (max-width:850px)
{
    .HomeImage img{
        left: 7%;
    }
}

@media screen and (max-width:800px)
{
    .HomeImage img{
        left: 3%;
    }
}

@media screen and (max-width:750px)
{
    .HomeImage img{
        left: 0;
    }
}

@media screen and (max-width:700px)
{
    .HomeImage img{
        max-width: 400px;
        left: 18%;
    }
}

@media screen and (max-width:650px)
{
    .HomeImage img{
        max-width: 400px;
        left: 15%;
    }
}

@media screen and (max-width:600px)
{
    .HomeImage img{
        max-width: 400px;
        left: 8%;
    }
}

@media screen and (max-width:470px)
{
    .HomeImage img{
        max-width: 300px;
    }
}


/*fim*/


@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 50vh;
        top: 8vh;
        background-color:#007944;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 100;
        padding: 30px;
    }
    .nav-links li{
        opacity: 1;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/*cards*/

#homeLinks {
    padding: 80px 0;
    text-align: center;
}

#homeLinks .btnHome{
    border-color: #f35588;
    border-style: solid;
    border-radius: 20%;
    background-color: #f35588;
    color: white;
    display: inline-block;
    width: 210px;
    height: 200px;
    min-height: 210px;
    margin: 10px;
    vertical-align: middle;
}

#homeLinks .btnHome .txtHomeLinks{
    display: flex;
    justify-content: center;
    padding-top: 90px;
    font-size: 20px;
}

/*modal*/

.modal-body{
    margin: 5px;
}

.box-receita #btnModal{
    background-color: #007944;
    width: 80px;
    height: 30px;
    margin-top: 12px;
    border-style: none;
}

.box-receita #btnModal a{
    color: white;
    font-size: 13px;
}


/*pag receitas*/

/*box-receitas*/

.box-receita{
    display: inline-block;
    width: 440px;
    min-height: 210px;
    border-style: solid;
    border-color: #007944;
    margin: 10px;
    background-color: #93b984;
    vertical-align: middle;
}

.box-receita .thumbnail{
    width: 260px;
    height: 150px;
    margin: 5px;
    float: left;
}

.box-receita .titulo{
    margin: 5px;
    color: black;
}

.box-receita .creditos{
    color: black;
}

.box-receita .tipo{
    margin-top: 5px;
    color: black;
}

.box-receita .btnvid{
    color: black;
    padding: 3px;
    font-size: 15px;
}


@media screen and (max-width:500px){

    .box-receita{
        width: 280px;
    }
}


#categorias button{
    width: 120px;
    color: white;
    background-color: #007944;
    margin: 5px;
    font-size: 15px;
}

#linha{
    background-color: white;
    height: 2px;
}


/*CSS para a página de restaurantes*/

.titulorest{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.NavId{
    border:1px solid #25692A;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    font-weight:bold;
    font-size:13px;
    padding:6px 10px;
    text-decoration:none;
    background: #f35588;
}

.NavId:hover{
    background: #ffbbb4;
}


/* CSS para a página QUEM SOMOS */
 
.time{
    text-align: center;
    font-size: 29px;

}

.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 35.333%;
    padding-bottom: 33px;
}

.cta-padding35 {
    padding: 35px 0 35px;
    background-color: #b40028;
    color:whitesmoke;
}
/* Buttons */
.site-btn {
    font-size: 14px;
    padding: 13px 30px;
    border-radius: 5px;
    min-width: 200px;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 1;
    background-color:transparent;
    transition: all .25s ease-in-out;
    margin: 10px 0px 10px 0px;
    
}

/* Site Heading */
.site-heading h3{
    font-size : 40px;
    margin-bottom: 15px;
    font-weight: 600;
}
.border {
    background: #e1e1e1;
    height: 1px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}

.paddingTB60 {
    padding-top:40px;
    padding-bottom:40px;
}

.thumbnail {
    display: inline-block;
    height: auto;
    max-width: 350px;
    margin: 5px;
    padding: 4px;
    line-height: 1.428571429;
    background-color:whitesmoke;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.nome{
    text-align: center;
}

/* font CSS */
body {
    font-family: 'Roboto';
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-style: normal;
    color: #494949;
    font-size: 16px;
}

h1 {
    font-size: 29px;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 600;
    color: #000;
}
h2 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0px;
    font-weight: 600;
    color: #000;
}

h3 {
    line-height: 26px;
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    font-style: normal;
    color: #000;
}
 h4 { 
    font-size: 19px; 
    letter-spacing: 0px; 
    font-weight: 600;
    font-style: normal;
    color: #000;
}

p {
    font-weight: 400;
    font-style: normal;
    color: #494949;
    text-align:justify;
}


.capital {
    text-transform:uppercase;
}


i {
    font-style: normal;
    font-size: 42px;
    text-align: center;
    line-height: 64px;
}



/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background-color: #007944 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: -20px;
    color:#ffffff;
}

#footer h3{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 0px;
    margin-bottom: -20px;
    color:#ffffff;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    margin-bottom: -30px;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:20px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 0 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

.h6{
    text-align: center;
}

@media (max-width:767px){
	#footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}

.imgfooter{
    width: 140px;
}

.table {
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color:transparent;
}

.table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

@media only screen and (min-width: 0px) and (max-width: 467px) {

    .table th{
        font-size: smaller;
        padding: 0px;
        margin-right: 0px;
    }

    .table td{
        font-size: smaller;
    }

    .table td button{
        font-size: smaller;
        padding: 2px;
        margin: -5px;
    }

    .sumir{
        display: none;
    }

}

@media only screen and (min-width: 468px) and (max-width: 900px) {

    .sumir{
        display: none;
    }
}
 
